
@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: local('Acme'), local('Acme-Regular'), url(https://fonts.gstatic.com/s/acme/v5/CMfjQTCaAjBuWy3e4bQMZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

form {
	font-style: bold;
}

option { color: red;

}

body {
	background-color: green;
}
strong {
	font-family: 'Acme';
	font-size: 300%;
}

th { font-size: 200%;
	
}

h1 {
	color: blue;
}

h2 {
	color: blue;
}



a{
	color: red;}
a:link {
	color: green;
	text-decoration: underline;
}

a:visited {
	color: purple;
	text-decoration: none;
}

a:hover { 
	font-weight: bold;
	text-decoration: none;
	}
a:active {
	text-decoration: none;
	font-weight: none;
}

p2 { color: red;
}