
@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: local('Acme'), local('Acme-Regular'), url(https://fonts.gstatic.com/s/acme/v5/CMfjQTCaAjBuWy3e4bQMZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

form {
	font-style: bold;
}



body {
	background-color: green;
}
strong {	font-family: 'Acme';
	font-size: 300%;
	color: red;
}
	
 h1 {
	font-family: 'Acme';
	font-size: 300%;
	color: blue;
}

th { font-size: 200%;
	
}



h2, p {
	color: blue;
	font-family: 'Acme';
}



a{
	color: red;}
a:link {
	color: green;
	text-decoration: underline;
}

a:visited {
	color: limegreen;
	text-decoration: none;
}

a:hover { 
	font-weight: bold;
	text-decoration: none;
	color: blue;
	}
a:active {
	text-decoration: none;
	font-weight: none;
}

p2, td { color: red;
	font-family: 'Acme';
	font-size: 150%;
}

caption { color: blue;
	font-family: 'Acme';
	font-weight: bold;
	font-size: 200%;
}

h3 { color: green;

}

p1, option {color: red;
	font-weight: bold;
}