div {
	font-family: "Bungee Shade";
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: red;
	

}


p2, li, h1, h2, h3 { color: red;

}





/* vietnamese */
@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Shade'), local('BungeeShade-Regular'), url(https://fonts.gstatic.com/s/bungeeshade/v2/HSW7pxPYXBWkq7OSnuXoeP8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Shade'), local('BungeeShade-Regular'), url(https://fonts.gstatic.com/s/bungeeshade/v2/HSW7pxPYXBWkq7OSnuXoeD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Shade'), local('BungeeShade-Regular'), url(https://fonts.gstatic.com/s/bungeeshade/v2/HSW7pxPYXBWkq7OSnuXoeOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body  { 
	background-color: brown;

}

a:link {
	color: green;
	text-decoration: none;
}
a:visited {
	color: red;
	text-decoration: none;
	
	
}
a:hover {
	text-decoration: underline;
	color: #00c;
	background-color: lightgreen;
	font-family: cursive;
}

a:active {
	font-weight:bold;
	text-decoration: none;
}

div {background-image: url("OffTheWall.Jpg");
	background-size: 1000px 1000px;
	background-repeat: no-repeat;
	background-position: center

}

table, tr, td, th {
	font-style: italic;
}

tbody tr:nth-child(even) {
	background-color: red;
}

